useDynLib(bootCT, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(usethis,"use_data")
importFrom(magrittr,"%>%")
importFrom(dplyr,"all_of")
importFrom("stats", "as.formula", "coef", "lm", "na.omit", "qnorm",
           "quantile", "residuals", "rnorm")
exportPattern("^[[:alpha:]]+")
S3method(summary, bootCT)